* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    height: 69px;
    border-bottom: 1px solid seashell; 
    color: seashell;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    z-index: 2;
}

.logo {
    margin: 10px;
    height: 50px;
    text-align: left;
}

.nav-links a{
    margin: 10px;
    text-decoration: underline;
    color: seashell;
}

.banner-background {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 69px;
  max-width: 100%;
}

.banner-background img{
  position: relative;
}
 
.mission-banner {
  position: absolute;
  background-color: black;
  width: 1200px;
  max-width: 100%;
}

.mission-banner h2,h4 {
  margin: 15px;
  flex-wrap: wrap;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tea-of-the-month {
  margin: 15px;
  width: 1000px;
}

.tea-of-the-month-img {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.tea-of-the-month-img img {
  height: 200px;
  width: 300px;
  margin: 20px 15px 0;
}

.tea-of-the-month-img figcaption {
  margin-top: 10px;
}